// Bootstrap
@import "vendor/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

body {
  font-family: "Mulish", sans-serif;
}

.cta-section {
  padding: 1.5rem;
  &__content {
    a {
      display: block;
      color: $primary;
      padding: 0.75em 1em;
      margin-bottom: 1rem;
      border: 2px solid $primary;
      border-radius: $border-radius;
      text-align: center;
      text-decoration: none;
      &.share {
        background: $primary;
        color: $white;
      }
    }
    p {
      max-width: 90%;
      margin: 0 auto 1rem;
      text-align: center;
    }
    .badge {
      display: none;
      background-color: $orange;
      padding: 0.4em;
      height: 36px;
      width: 36px;
      color: $white;
      font-size: 1.25em;
    }
    @media (min-width: $tablet-width) {
      .buttons {
        display: flex;
        flex: 1;
        a {
          margin: 0;
          flex: 1;
          margin-right: 1rem;
          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
    @media (min-width: $desktop-width) {
      & {
        display: flex;
        align-items: center;
      }
      p {
        margin: 0;
        padding: 1rem;
      }
      .badge {
        display: inline-block;
      }
    }
  }
}
